body {
  margin: 0px;
  padding-bottom: 1000px;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
img {
  height: 50px;
}
.logo {
  display: flex;
  cursor: pointer;
  justify-content: space-around;
  width: 100px;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  cursor: pointer;
  width: 600px;
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.info .categories {
}

.info:hover {
  color: rgb(89, 89, 252);
}
.button1 {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(5, 5, 55);
  height: 2.8rem;
  width: 8rem;
  background-color: rgb(44 224 128);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.para1 {
  color: rgb(58 70 73);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  font-family: CeraPRO, sans-serif;
  font-size: 1.25rem;
}
img[alt="clubimage"] {
  height: 400px;
}

h1 {
  font-weight: bolder;
  font-family: CeraPRO, sans-serif;
  font-size: 2.5rem;
  line-height: 3rem;
}
p {
  font-size: 20px;
}
.button2 {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(5, 5, 55);
  height: 2.8rem;
  width: 30 rem;
  background-color: rgb(44 224 128);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
.books {
  background-color: rgb(215 233 255);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 9999px;
  opacity: 1;
}
.podcast {
  background-color: rgb(255 243 215);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 9999px;
  opacity: 1;
}
.expert {
  background-color: rgb(233 227 255);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  border-radius: 9999px;
  opacity: 1;
}
.italic {
  font-style: italic;
}

.understand {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(3 49 75);
  font-family: CeraPRO, sans-serif;
}
circle {
  fill: none;
  stroke: blue;
  stroke-width: 4;
}
.para2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.video1 {
  width: 800px;
  height: 500px;
  border-radius: 20px;
}
h3 {
  font-family: CeraPRO, sans-serif;
  color: rgb(3 49 75);
  font-size: 1.375rem;
  line-height: 1.875rem;
}
.para2 p {
  font-family: CeraPRO, sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(58 70 73);
}
