.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 20px;
  text-align: center;
  color: rgb(27, 9, 90);
}
.left-nav {
  justify-content: space-between;
}
.right-nav {
  justify-content: space-between;
}
