body {
  margin: 0px;
}

.header {
  display: flex;
  justify-content: space-around;
  height: 70px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
img {
  height: 50px;
}
.logo {
  cursor: pointer;
  justify-content: space-around;
}
.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  width: 900px;
  height: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.info .categories {
  display: flex;
  justify-content: start;
}

.info:hover {
  color: rgb(89, 89, 252);
}
.button1 {
  font-size: 1rem;
  font-weight: 500;
  color: rgb(5, 5, 55);
  height: 2.8rem;
  width: 8rem;
  background-color: rgb(44 224 128);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}
